@{
    ViewData["Title"] = "Analyze";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<br /><br />
<label class="btn btn-default">
  Browse <input type="file" class="file-field">
</label>
<br /><br />

          <p>Use this area to provide additional information.</p>
