@{
    ViewData["Title"] = "Contact";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<h3>Get to know us better</h3>

<address>
    Profit Intel HQ<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@eprofitintel.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@eprofitintel.com</a>
</address>

<p id="something"></p>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 
    <script type="text/javascript" language="JavaScript">
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "/home/contact",
                success: function (response) {
                    if (response.length > 0) { $('#something').html(response)}
                }
            });
        });
      document.getElementById("Contact").style.color = "#73C4FC";
    </script>
    }