<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

<!-- To completely remove the spacing caused by this div, use the style: display: none and it will be hidden
    then just manipulate that in the javascript to display it when you want-->
<div id="dataAnalysis" style=" visibility: hidden;">
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Select Stock to Display
        </button>
        <div id="dropdownInfo" class="dropdown-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
        </div>

    </div>
    <h1 id="stockName" style="padding-top: 10%"></h1>
    <table class="table table-hover" style="margin-top:1em;">
        <thead>
            <tr>
                <th scope="col">Ratio</th>
                <th scope="col">Value</th>
                <th scope="col">Status</th>

            </tr>
        </thead>
        <tbody id="tableContent">
        </tbody>
    </table>
</div>

<!-- This is the main content which contains the upload button-->
<div id="mainContent">
    <h2><b>Upload Trade History (XLS/XLSX)</b></h2>
    <form>
        <br />
        <div class="row">
            <div class="col-md-4">
                <input type="file" id="fUpload" name="files" class="form-control" />
            </div>
            <div class="col-md-3">
                <input type="button" id="btnUpload" value="Upload" />
            </div>
            <div class="col-md-5">
                <button type="button" id="successful_inputBTN" class="btn btn-default"
                        style="padding: 15px 100px ;opacity:0;background-color:rgb(115, 196, 252)" onclick="updateView()">
                    <b>Submit Data & Analyze</b>
                </button>
            </div>
        </div>

        <br />
        <div id="dvData"></div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" language="JavaScript">

        // Whenever the document is loaded, fire this function
        $(document).ready(function () {

            // When the upload button is clicked, check what was input, if its good, parse it and send it through a post request.
            $('#btnUpload').on('click', function () {
                var fileExtension = ['xls', 'xlsx'];
                var filename = $('#fUpload').val();
                if (filename.length == 0) {
                    alert("Please select a file.");
                    return false;
                }
                else {
                    var extension = filename.replace(/^.*\./, '');
                    if ($.inArray(extension, fileExtension) == -1) {
                        alert("Please select only excel files.");
                        return false;
                    }
                }

                var fdata = new FormData();
                var fileUpload = $("#fUpload").get(0);
                var files = fileUpload.files;
                fdata.append(files[0].name, files[0]);
                $.ajax({
                    type: "POST",
                    url: "/home/ImportExport",
                    data: fdata,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.length == 0)
                            alert('Some error occured while uploading');
                        else {
                            $('#dvData').html(response);
                            document.getElementById("successful_inputBTN").style.opacity = 1;
                        }
                    },
                    error: function (e) {
                        $('#dvData').html(e.responseText);
                    }
                });

                // Log some info for bug fixing
                console.log(files);
                console.log(fdata.get("sampledata.xlsx"));
                console.log(JSON.stringify(fdata));
            });

            document.getElementById("Analyze").style.color = "#73C4FC";  // Change the navbar color

            $('.dropdown-toggle').dropdown();                           // Enable the dropdown


        });

        /**
         *  When the user clicks the analyze button, this method fires
         * 
         */
        function updateView() {
            $('#mainContent').html("");                        // Hide the mainContent
            $('#dataAnalysis').css("visibility", "visible")    // Set the table as visible
            $.ajax({
                type: "GET",
                url: "/home/stockList",
                success: function (response) {
                    if (response.length == 0)
                        alert('Some error occured while uploading');
                    else {
                        var stockArray = response.split(/\r?\n/);       //Split it by regex or newline, this is for linux or Windows
                        var htmlOutput = "";
                        for (stock in stockArray) {
                            htmlOutput = htmlOutput + " <a class=\"dropdown-item\" onclick=\"stockSelected('" + stockArray[stock] + "')\">" + stockArray[stock] + "<\a>"        //Create the dropdown
                        }
                        $('#dropdownInfo').html(htmlOutput);
                    }
                }
            });
        }

        /**
         * When a stock has been selected from the dropdown menu
         * param - stockName name of stock selected
         */
        function stockSelected(stockName) {
            // TODO: add tooltips for each, but keep it local to the ratio words only


            $("#stockName").html(stockName);
            // ROE, P/E EPS D/E Current Ratio
            var htmlContent = htmlContent + "<tr>";      // Indicate a table row

            var roe, pe, eps, de, currRatio;

            if (stockName === "SNC") {
                roe = -29.67; pe = -4.19; eps = 0.59; de = 100.47; currRatio = -3.11;
            }

            else if (stockName === "FB") {
                roe = 26.66;
                pe = 31.76;
                eps = 6.26;
                de = 0.66;
                currRatio = 5.76;
            }

            else if (stockName === "MSFT") {
                roe = 27.01;
                pe = 28.12;
                eps = 5.31;
                de = 0.72;
                currRatio = 2.85;

            }

            else if (stockName === "AAPL") {
                roe = 55.92;
                pe = 22.22;
                eps = 3.03;
                de = 119.4;
                currRatio = 1.54;

            }

            else if (stockName === "Industry Average") {
                roe = 22.9;
                pe = 21.2;
                eps = 0.36;
                de = 118.8;
                currRatio = 1.2;

            }

            // ROE
            htmlContent = htmlContent + "<th scope=\"row\" data-toggle=\"tooltip\" title=\" Return on equity measures how effectively management is using a company’s assets to create profits. \">"
                + "ROE" + '</th>'          // Add the ratio
            htmlContent = htmlContent + "<td>" + roe + "</td>"                     // hardcode the value
            htmlContent = htmlContent + "<td>" + healthString(stockHealthFinder("ROE",roe)) + '</tr>'       // Hardcode the status 

            
            // P/E
            htmlContent = htmlContent + "<th scope=\"row\" data-toggle=\"tooltip2\" title=\"Price-to-earnings ratios compares and measures its current share price relative to its earnings per-share.\" >"
                + "P/E" + '</th>'          // Add the ratio
            htmlContent = htmlContent + '<td>' + pe + '</td>'                       // hardcode the value
            htmlContent = htmlContent + '<td>' + healthString(stockHealthFinder("PE",pe))+ '</tr>'       // Hardcode the status 


            // EPS
            htmlContent = htmlContent + "<th scope=\"row\" data-toggle=\"tooltip3\" title=\"Earnings-per-share is a measure of a company’s profitability. The higher a company’s EPS, the more profitable it is considered.\" >"
                + "EPS" + '</th>'          // Add the ratio
            htmlContent = htmlContent + "<td>" + eps + "</td>"                        // hardcode the value
            htmlContent = htmlContent + "<td>" + healthString(stockHealthFinder("EPS",eps)) + '</tr>'       // Hardcode the status 

            // D/E
            htmlContent = htmlContent + "<th scope=\"row\" data-toggle=\"tooltip4\" title=\"Debt-to-Equity ratio is used to evaluate a company’s financial leverage. A higher number indicates a high reliance on debt.\" >"
                + "D/E" + '</th>'          // Add the ratio
            htmlContent = htmlContent + "<td>" + de + "</td>"                       // hardcode the value
            htmlContent = htmlContent + "<td>" + healthString(stockHealthFinder("DE",de))+ '</tr>'       // Hardcode the status 

            // Current Ratio
            htmlContent = htmlContent + "<th scope=\"row\" data-toggle=\"tooltip5\" title=\"Current ratio measures a company’s ability to pay short-term obligations, a higher number indicates more liquidity.\" >"
                + "Current Ratio" + '</th>'          // Add the ratio
            htmlContent = htmlContent + "<td>" + currRatio + "</td>"                        // hardcode the value  
            htmlContent = htmlContent + "<td>" + healthString(stockHealthFinder("CR",currRatio)) + '</tr>'       // Hardcode the status 
            
            $('#tableContent').html(htmlContent);   // Update the table accordingly

            // Initialize the tooltips
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="tooltip2"]').tooltip();
            $('[data-toggle="tooltip3"]').tooltip();
            $('[data-toggle="tooltip4"]').tooltip();
            $('[data-toggle="tooltip5"]').tooltip();

        }

        // Simply returns an http string for the health status its passed in
        function healthString(healthString) {
            if (healthString === "Below Industry Average"){
                return "<span class='text-danger'> Below Industry Average </span>";
            }
            else if (healthString === "Above Industry Average") {
                return "<span class='text-success'> Above Industry Average </span>";
            }
        }

        function stockHealthFinder(ratioName, ratioValue) {
            if (ratioName === "ROE")
                {
                if (ratioValue < 22.9) return "Below Industry Average";
                else return "Above Industry Average";
            }
            else if (ratioName === "PE"){
                if (ratioValue < 21.2) return "Below Industry Average";
                else return "Above Industry Average";
            }
            else if (ratioName === "EPS"){
                if (ratioValue < 0.36) return "Below Industry Average";
                else return "Above Industry Average";
            }
                // Logic is backwards for DE, if its greater its worse
            else if (ratioName === "DE"){
                if (ratioValue > 118.8) return "Below Industry Average";
                else return "Above Industry Average";
            }
            else if (ratioName === "CR"){
                if (ratioValue < 1.2) return "Below Industry Average";
                else return "Above Industry Average";
            }

        }
    </script>
}
