@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="text-align:center">
    <h1 class="display-4"> <img src="~/images/logo.png"/></h1> 
    <p class="lead"> <br /><i>
    Our goal is to provide users with key metrics that will empower them to make informed decisions</p></i>
</div>

<div class="row">
    <div class=" ">
        <h3 class=" text-center"> How It Works </h3>
        <p style="font-size: 16px">
        Profit Intel is an online platform that analyzes trade histories. To use our application, the user has to simply upload 
        the trade histories exported from their online exchange onto our website.<br />
        
        Our algorithms will automatically generate a  report for our user based on their trading data. Our analytics will 
        include several key metrics for the user.  <br />
            
        The fast and easy access to our reports will help users make better-informed decisions. For example, 
            the users are able to analyze
        specific periods of time by adjusting the time frame, simulate different scenarios, reduce taxes payable through tax 
        planning. This will effectively reduce the need to consult accountants.
            <br />
        Our vision is to bridge the gap in knowledge between an average person holding equities, and their broker or accountant.
        </p>
    </div>
</div>

<script>document.getElementById("Home").style.color = "#73C4FC";</script>