@{
    ViewData["Title"] = "Portfolio";
}
<h2><b>@ViewData["Title"]</b></h2>

<p id="data"></p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 
    <script type="text/javascript" language="JavaScript">
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "/home/portfolio",
                success: function (response) {
                    if (response.length > 0) { $('#data').html(response)}
                }
            });
        });

        document.getElementById("Portfolio").style.color = "#73C4FC";
    </script>
    }

<form>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="switch1">
        <label class="custom-control-label" for="switch1">Toggle me</label>
    </div>
    <select name="cars" class="custom-select">
        <option selected>Custom Select Menu</option>
        <option value="volvo">Volvo</option>
        <option value="fiat">Fiat</option>
        <option value="audi">Audi</option>
    </select>
    <label for="customRange">Custom range</label>
    <input type="range" class="custom-range" id="customRange" name="points1">
</form>
