@{
    ViewData["Title"] = "Portfolio";
}
<h2><b>@ViewData["Title"]</b></h2>

<p id="data"></p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 
    <script type="text/javascript" language="JavaScript">
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "/home/portfolio",
                success: function (response) {
                    if (response.length > 0) { $('#data').html(response)}
                }
            });
        });

        document.getElementById("Portfolio").style.color = "#73C4FC";
    </script>
    }